
<div class="row">
  <div class="col-md-6">
    <h2>
      Trabajadores Ingresados
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>
            Email
          </th>
        </tr>
      </thead>
    </table>
  </div>
</div>


<tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.email %></td>

        <%= link_to 'Crear encuenstas', new_user_bpstest_path(u), class: "btn btn-default" %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
