

<!-- Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" >Codelco Chile
        <small>Favor seleccione Division.</small>
      </h1>
    </div>

      </div>

    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i>  <a href="<%= pages_principal_path %>">Dashboard</a>
        </li>
        <li class="active">
            <i class="fa fa-table"></i> Empresas Mineras
        </li>
    </ol>

  <

                      <!-- /.container -->




                      <!-- Footer -->
                      <footer>
                        <div class="row">
                          <div class="col-lg-12"
                          <p class="copyright text-muted ">Copyright &copy; INSSO 2015. Todos los derechos reservados.</p>
                        </div>
                      </div>
                    </div>
                  </footer>
