
 <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Empresas Mineras
                    <small>Favor seleccione.</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="">
                    <img class="img-responsive" src="http://camindia.cl/wp-content/uploads/2013/06/socio-hd-codelco.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://diarioelnortino.cl/wp-content/uploads/2013/06/Minera-Do%C3%B1a-Ines-de-Collahuasi.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://www.lulegacy.com/logos/barrick-gold-corp-logo.jpg" alt="">
                </a>
            
        </div>
        <!-- /.row -->

        


        <hr>

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted ">Copyright &copy; INSSO 2015. Todos los derechos reservados.</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

 