<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Codelco Chuquicamata
                </a>
            </li>
            <li>
                <a href="<%= pages_dashchuqui_path %>">Dashboard General</a>
            </li>
            <li>
                <a href="#">Niveles División</a>
            </li>
            <li>
                <a href="#">Métricas</a>
            </li>
            <li>
                <a href="#">Informes </a>
            </li>


        </ul>
    </div>




<div id="page-wrapper">

           <div class="container-fluid">

               <!-- Page Heading -->
               <div class="row">
                   <div class="col-lg-12">
                       <h1 class="page-header">
                           Niveles Division
                       </h1>
                       <ol class="breadcrumb">
                           <li>
                               <i class="fa fa-dashboard"></i>  <a href="<%= pages_dashchuqui_path %>">Dashboard</a>
                           </li>
                           <li class="active">
                               <i class="fa fa-table"></i> Niveles
                           </li>
                       </ol>
                   </div>
               </div>
               <!-- /.row -->

               <div class="row">
                   <div class="col-lg-6">
                       <h2>Nivel 0</h2>
                       <div class="table-responsive">
                           <table class="table table-bordered table-hover">
                               <thead>
                                   <tr>
                                       <th>Departamento</th>
                                       <th>Visits</th>
                                       <th>% New Visits</th>
                                       <th>Revenue</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr>
                                       <td>GERENCIA MINA</td>
                                       <td>1265</td>
                                       <td>32.3%</td>
                                       <td>$321.33</td>
                                   </tr>
                                   <tr>
                                       <td>SEGURIDAD Y SALUD OCUPACIONAL</td>
                                       <td>261</td>
                                       <td>33.3%</td>
                                       <td>$234.12</td>
                                   </tr>

                               </tbody>
                           </table>
                       </div>
                   </div>
                   <div class="col-lg-6">
                       <h2>Nivel 1</h2>
                       <div class="table-responsive">
                           <table class="table table-bordered table-hover">
                               <thead>
                                   <tr>
                                       <th>Departamento</th>
                                       <th>Visits</th>
                                       <th>% New Visits</th>
                                       <th>Revenue</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr>
                                       <td>SUPERINTENDENCIA MINA</td>
                                       <td>1265</td>
                                       <td>32.3%</td>
                                       <td>$321.33</td>
                                   </tr>
                                   <tr>
                                       <td>SUPERINTENDENCIA PERFORACIÓN Y TRONADURA</td>
                                       <td>261</td>
                                       <td>33.3%</td>
                                       <td>$234.12</td>
                                   </tr>
                                   <tr>
                                       <td>SUPERINTENDENCIA CHANCADO PRIMARIO</td>
                                       <td>665</td>
                                       <td>21.3%</td>
                                       <td>$16.34</td>
                                   </tr>
                                   <tr>
                                       <td>SUPERINTENDENCIA MANTENCIÓN MINA</td>
                                       <td>9516</td>
                                       <td>89.3%</td>
                                       <td>$1644.43</td>
                                   </tr>
                                   <tr>
                                       <td>UNIDAD ING. MANTENIMIENTO MINA</td>
                                       <td>23</td>
                                       <td>34.3%</td>
                                       <td>$23.52</td>
                                   </tr>
                                   <tr>
                                       <td>SUPERINTENDENCIA SERVICIOS TÉCNICOS</td>
                                       <td>421</td>
                                       <td>60.3%</td>
                                       <td>$724.32</td>
                                   </tr>

                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
               <!-- /.row -->

               <div class="row">
                   <div class="col-lg-6">
                       <h2>Nivel 2</h2>
                       <div class="table-responsive">
                           <table class="table table-bordered table-hover">
                               <thead>
                                   <tr>
                                       <th>Departamentos</th>
                                       <th>Visits</th>
                                       <th>% New Visits</th>
                                       <th>Revenue</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr>
                                       <td>TRANSPORTE</td>
                                       <td>1265</td>
                                       <td>32.3%</td>
                                       <td>$321.33</td>
                                   </tr>
                                   <tr>
                                       <td>UNIDAD CARGUIO</td>
                                       <td>261</td>
                                       <td>33.3%</td>
                                       <td>$234.12</td>
                                   </tr>
                                   <tr>
                                       <td>GESTIÓN DISPATCH</td>
                                       <td>665</td>
                                       <td>21.3%</td>
                                       <td>$16.34</td>
                                   </tr>
                                   <tr>
                                       <td>MOVIMIENTO DE TIERRA</td>
                                       <td>9516</td>
                                       <td>89.3%</td>
                                       <td>$1644.43</td>
                                   </tr>
                                   <tr>
                                       <td>NEUMATICOS MINA</td>
                                       <td>23</td>
                                       <td>34.3%</td>
                                       <td>$23.52</td>
                                   </tr>
                                   <tr>
                                       <td>PERFORACIÓN Y TRONADURA</td>
                                       <td>421</td>
                                       <td>60.3%</td>
                                       <td>$724.32</td>
                                   </tr>

                               </tbody>
                           </table>
                       </div>
                   </div>
                   <div class="col-lg-6">
                       <h2>Nivel 2</h2>
                       <div class="table-responsive">
                           <table class="table table-bordered table-hover">
                               <thead>
                                   <tr>
                                       <th>Departamentos</th>
                                       <th>Visits</th>
                                       <th>% New Visits</th>
                                       <th>Revenue</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr>
                                       <td>OPERACIONES PRIMARIO</td>
                                       <td>1265</td>
                                       <td>32.3%</td>
                                       <td>$321.33</td>
                                   </tr>
                                   <tr>
                                       <td>MANTENCIÓN PRIMARIO</td>
                                       <td>261</td>
                                       <td>33.3%</td>
                                       <td>$234.12</td>
                                   </tr>
                                   <tr>
                                       <td>MANTENIMIENTO CAMIONES EX Y EMT</td>
                                       <td>665</td>
                                       <td>21.3%</td>
                                       <td>$16.34</td>
                                   </tr>
                                   <tr>
                                       <td>MANTENIMIENTO PALAS Y PERFORADORAS</td>
                                       <td>9516</td>
                                       <td>89.3%</td>
                                       <td>$1644.43</td>
                                   </tr>
                                   <tr>
                                       <td>EQUIPO DE APOYO Y SERVICIO</td>
                                       <td>23</td>
                                       <td>34.3%</td>
                                       <td>$23.52</td>
                                   </tr>
                                   <tr>
                                       <td>MANTENIMIENTO TERRENO</td>
                                       <td>421</td>
                                       <td>60.3%</td>
                                       <td>$724.32</td>
                                   </tr>

                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
               <!-- /.row -->


               <!-- /.row -->

           </div>
           <!-- /.container-fluid -->

       </div>
       <!-- /#page-wrapper -->

   </div>
   <!-- /#wrapper -->

   <!-- jQuery -->
   <script src="js/jquery.js"></script>

   <!-- Bootstrap Core JavaScript -->
   <script src="js/bootstrap.min.js"></script>
