<!-- Page Content -->
   <div class="container">

       <!-- Jumbotron Header -->
       <header class="jumbotron hero-spacer">
           <h1>Bienvenido a nuestra plataforma!</h1>
           <p>En esta sección encontrarás el Dashboard General de la Aplicación, en  donde podras acceder rápidamente a la Información que necesitas como Métricas, Datos, Tests y mucho más.</p>
           <p><a class="btn btn-primary btn-large">Volver Inicio</a> <a class="btn btn-default btn-large">Salir App</a>
           </p>

       </header>

       <hr>

       <!-- Title -->
       <div class="row">
           <div class="col-lg-12">
               <h3>Favor Seleccionar</h3>
           </div>
       </div>
       <!-- /.row -->

       <!-- Page Features -->
       <div class="row text-center">

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="https://s3.amazonaws.com/insso/4.jpg" alt="">
                   <div class="caption">
                       <h3>Empresas Mineras</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                       <p>
                           <a href="<%=pages_empresas_path %>" class="btn btn-primary">Ingresar</a> <a href="#" class="btn btn-default">Más Información</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="https://s3.amazonaws.com/insso/9.jpg" alt="">
                   <div class="caption">
                       <h3>Test Médicos</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                       <p>
                           <a href="#" class="btn btn-primary">Ingresar</a> <a href="#" class="btn btn-default">Más Información</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="https://s3.amazonaws.com/insso/12.jpg" alt="">
                   <div class="caption">
                       <h3>Pacientes Insso</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                       <p>
                           <a href="#" class="btn btn-primary">Ingresar</a> <a href="#" class="btn btn-default">Más Información</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="https://s3.amazonaws.com/insso/34.jpg" alt="">
                   <div class="caption">
                       <h3>Panel de Control</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                       <p>
                           <a href="#" class="btn btn-primary">Ingresar</a> <a href="#" class="btn btn-default">Más Información</a>
                       </p>
                   </div>
               </div>
           </div>

       </div>
       <!-- /.row -->

       

       <!-- Footer -->
       <footer>
           <div class="row">
               <div class="col-lg-12">
                 <p align="center" class="copyright text-muted ">Copyright &copy; INSSO 2015. Todos los derechos reservados.</p>
               </div>
           </div>
       </footer>
