<!-- Page Content -->
   <div class="container">

       <!-- Jumbotron Header -->
       <header class="jumbotron hero-spacer">
           <h1>Bienvenido a nuestra plataforma!</h1>
           <p>En esta sección encontrarás el Dashboard General para navegar dentro de la aplicación, favor selecciona donde quieres ingresar.</p>
           <p><a class="btn btn-primary btn-large">Volver a inicio!</a> <a class="btn btn-primary btn-large">Volver a inicio!</a>
           </p>

       </header>

       <hr>

       <!-- Title -->
       <div class="row">
           <div class="col-lg-12">
               <h3>Favor Seleccionar</h3>
           </div>
       </div>
       <!-- /.row -->

       <!-- Page Features -->
       <div class="row text-center">

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="https://s3.amazonaws.com/insso/mining_industry_truck.jpg" alt="">
                   <div class="caption">
                       <h3>Empresas Mineras</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                       <p>
                           <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="http://placehold.it/800x500" alt="">
                   <div class="caption">
                       <h3>Test Médicos</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                       <p>
                           <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="http://placehold.it/800x500" alt="">
                   <div class="caption">
                       <h3>Pacientes Insso</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                       <p>
                           <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-md-3 col-sm-6 hero-feature">
               <div class="thumbnail">
                   <img src="http://placehold.it/800x500" alt="">
                   <div class="caption">
                       <h3>Panel de Control</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                       <p>
                           <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                       </p>
                   </div>
               </div>
           </div>

       </div>
       <!-- /.row -->

       <hr>

       <!-- Footer -->
       <footer>
           <div class="row">
               <div class="col-lg-12">
                   <p>Copyright &copy; Your Website 2014</p>
               </div>
           </div>
       </footer>
