<!-- Page Content -->

<div id="page-wrapper">


      <div id="wrapper">

          <!-- Sidebar -->
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      <a href="<%= pages_codelco_path %>">
                          Plataforma Médica
                      </a>
                  </li>
                  <li>
                      <a href="<%= pages_principal_path %>">Dashboard General</a>
                  </li>
                  <li>
                      <a href="<%= pages_empresas_path %>">Empresas</a>
                  </li>
                  <li>
                      <a href="#">Tests Médicos</a>
                  </li>
                  <li>
                      <a href="#">Pacientes Insso</a>
                  </li>
                  <li>
                      <a href="#">Panel de Control </a>
                  </li>

              </ul>
          </div>





   <div class="container-fluid">

       <!-- Jumbotron Header -->
       <header class="jumbotron hero-spacer">
           <h1>Bienvenido a nuestra plataforma!</h1>
           <p>En esta sección encontrarás el Dashboard General de la Aplicación, en  donde podras acceder rápidamente a la Información que necesitas como Métricas, Datos, Tests y mucho más.</p>


       </header>

       <hr>

       <!-- Title -->
       <div class="row">
           <div class="col-lg-12">
               <h3>Favor Seleccionar</h3>
           </div>
       </div>
       <!-- /.row -->

       <!-- Page Features -->

                       <!-- /.row -->

                       <div class="row">
                           <div class="col-lg-3 col-md-6">
                               <div class="panel panel-primary">
                                   <div class="panel-heading">
                                       <div class="row">
                                           <div class="col-xs-3">
                                               <i class="fa fa-building-o fa-3x"></i>
                                           </div>
                                           <div class="col-xs-9 text-right">
                                               <div class="huge">Mineras</div>
                                               <div>Clientes Insso</div>
                                           </div>
                                       </div>
                                   </div>
                                   <a href="<%= pages_empresas_path %>">
                                       <div class="panel-footer">
                                           <span class="pull-left">Ingresar</span>
                                           <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                           <div class="clearfix"></div>
                                       </div>
                                   </a>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="panel panel-green">
                                   <div class="panel-heading">
                                       <div class="row">
                                           <div class="col-xs-3">
                                               <i class="fa fa-line-chart fa-3x"></i>
                                           </div>
                                           <div class="col-xs-9 text-right">
                                               <div class="huge">Métricas</div>
                                               <div>Graficos generales</div>
                                           </div>
                                       </div>
                                   </div>
                                   <a href="#">
                                       <div class="panel-footer">
                                           <span class="pull-left">Ingresar</span>
                                           <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                           <div class="clearfix"></div>
                                       </div>
                                   </a>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="panel panel-yellow">
                                   <div class="panel-heading">
                                       <div class="row">
                                           <div class="col-xs-3">
                                               <i class="fa fa-user fa-3x"></i>
                                           </div>
                                           <div class="col-xs-9 text-right">
                                               <div class="huge">Paciente</div>
                                               <div>Búsqueda e Ingreso</div>
                                           </div>
                                       </div>
                                   </div>
                                   <a href="#">
                                       <div class="panel-footer">
                                           <span class="pull-left">Ingresar</span>
                                           <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                           <div class="clearfix"></div>
                                       </div>
                                   </a>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="panel panel-red">
                                   <div class="panel-heading">
                                       <div class="row">
                                           <div class="col-xs-3">
                                               <i class="fa fa-edit fa-3x"></i>
                                           </div>
                                           <div class="col-xs-9 text-right">
                                               <div class="huge">Tests</div>
                                               <div>Encuestas Insso</div>
                                           </div>
                                       </div>
                                   </div>
                                   <a href="#">
                                       <div class="panel-footer">
                                           <span class="pull-left">Ingresar</span>
                                           <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                           <div class="clearfix"></div>
                                       </div>
                                   </a>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="panel panel-primary">
                                   <div class="panel-heading">
                                       <div class="row">
                                           <div class="col-xs-3">
                                               <i class="fa fa-cloud-download fa-3x"></i>
                                           </div>
                                           <div class="col-xs-9 text-right">
                                               <div class="huge">Informes</div>
                                               <div>Descarga de Datos DB.</div>
                                           </div>
                                       </div>
                                   </div>
                                   <a href="#">
                                       <div class="panel-footer">
                                           <span class="pull-left">Ingresar</span>
                                           <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                           <div class="clearfix"></div>
                                       </div>
                                   </a>
                               </div>
                           </div>
                           <div class="col-lg-3 col-md-6">
                               <div class="panel panel-red">
                                   <div class="panel-heading">
                                       <div class="row">
                                           <div class="col-xs-3">
                                               <i class="fa fa-desktop fa-3x"></i>
                                           </div>
                                           <div class="col-xs-9 text-right">
                                               <div class="huge">Control</div>
                                               <div>Acceso clientes Insso</div>
                                           </div>
                                       </div>
                                   </div>
                                   <a href="#">
                                       <div class="panel-footer">
                                           <span class="pull-left">Ingresar</span>
                                           <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                           <div class="clearfix"></div>
                                       </div>
                                   </a>
                               </div>
                           </div>
                       </div>



                       <!-- /.row -->



       <!-- Footer -->
       <footer>
           <div class="row">
               <div class="col-lg-12">
                 <p align="center" class="copyright text-muted ">Copyright &copy; INSSO 2015. Todos los derechos reservados.</p>
               </div>
           </div>
       </footer>
