<!-- Page Content -->

<div class="container-fluid">



  <div id="page-wrapper">


    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="<%= pages_principal_path %>">
              Test Médicos
            </a>
          </li>
          <li>
            <a href="#">Todos los Test</a>
          </li>

          <li>
            <a href="#">Dato socio demográfico</a>
          </li>
          <li>
            <a href="#">Entrevista condición médica</a>
          </li>
          <li>
            <a href="#">Exámen Físico</a>
          </li>
          <li>
            <a href="#">Hábitos del sueño</a>
          </li>
          <li>
            <a href="#">Hábitos Alimentarios </a>
          </li>
        </li>
        <li>
          <a href="#">Mal agudo de Montaña </a>
        </li>
        <li>
          <a href="#">Escala de Epworth </a>
        </li>
        <li>
          <a href="#">Encuesta ISTAS 21 </a>
        </li>
        <li>
          <a href="#">Encuesta PFOA </a>
        </li>
        <li>
          <a href="#">Pittsburgh </a>
        </li>

      </ul>
    </div>


    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Tests y Encuestas Médicas <small>Seleccione para ingresar </small>
          </h1>
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="<%= pages_principal_path %>">Dashboard</a>
            </li>
            <li class="active">
              <i class="fa fa-table"></i> Test y Encuestas
            </li>
          </ol>
        </div>
      </div>

      <!-- /.row -->
      <!-- /.row -->

      <div class="row">

          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Test 1</div>
                              <div class="text-left">Dato socio demográfico</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-yellow">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-user fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Paciente</div>
                              <div>Búsqueda e Ingreso</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-red">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-edit fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Tests</div>
                              <div>Encuestas Insso</div>
                          </div>
                      </div>
                  </div>
                  <a href="<%= pages_test_path %>">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-cloud-download fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Informes</div>
                              <div>Descarga de Datos DB.</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-red">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-desktop fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Control</div>
                              <div>Acceso clientes Insso</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-red">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-desktop fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Control</div>
                              <div>Acceso clientes Insso</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-red">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-desktop fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Control</div>
                              <div>Acceso clientes Insso</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-red">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-desktop fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Control</div>
                              <div>Acceso clientes Insso</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-red">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-desktop fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Control</div>
                              <div>Acceso clientes Insso</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
      </div>



      <!-- /.row -->
