<div class="container-fluid">

  <div id="page-wrapper">


    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="<%= pages_codelco_path %>">
              Codelco Chuquicamata
            </a>
          </li>
          <li>
            <a href="<%= pages_dashchuqui_path %>">Dashboard General</a>
          </li>
          <li>
            <a href="<%= pages_nivelchuqui_path %>">Niveles División</a>
          </li>
          <li>
            <a href="#">Métricas</a>
          </li>
          <li>
            <a href="#">Personal</a>
          </li>
          <li>
            <a href="#">Informes Médicos </a>
          </li>

        </ul>
      </div>

      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">
              Personal-Paciente <small>Buscar por nivel</small>
            </h1>
            <ol class="breadcrumb">
              <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
              </li>
            </ol>
          </div>


<%= form_for @user


          /.row -->

          <!-- <div class"row">
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-yellow">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-user fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">Nivel 0</div>
                      <div>Departamentos </div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">Ingresar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-yellow">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-user fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">Nivel 1</div>
                      <div>Departamentos</div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">Ingresar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-yellow">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-user fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">Nivel 2</div>
                      <div>Departamentos</div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">Ingresar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-yellow">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-user fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">Nivel 3</div>
                      <div>Departamentos</div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">Ingresar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- /.row
